body {
  background-color: #000000;
  text-align: center;
}

h1 {
  color: #FF1493;
}

h2, ul, p {
  font-size: 25px;
  color: #7FFF00;
}

h1 {
  font-size: 30px;
}

h2 {
  animation: changeColor2 2s linear infinite;
}

i {
  color: #FF1493;
  font-size: 4em;
}

i:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

a {
  font-size: 15px;
  color: white;
}

a:hover {
  animation: changeColor 3s linear infinite;
}

@keyframes changeColor{
    0%{color:white;}
    30%{color: #FF1493;}
    40%{color:white;}
    50%{color: #FF1493}
    60%{color: white;}
    70%{color: #FF1493;}
    100%{color: white;}
}

@keyframes changeColor2{
    0%{color:white;}
    20%{color: #7FFF00;}
    40%{color:white;}
    60%{color: #7FFF00;}
    80%{color: white;}
    100%{color: #7FFF00;}
}


@keyframes shake{
    0% {
        transform:translate(1px,1px) rotate(0deg);
    }

    10% {
        transform:translate(-1px,-2px) rotate(-1deg);
    }

    20% {
        transform:translate(-3px,0px) rotate(1deg);
    }

    30% {
        transform:translate(3px,2px) rotate(0deg);
    }

    40% {
        transform:translate(1px,-1px) rotate(1deg);
    }

    50% {
        transform:translate(-1px,2px) rotate(-1deg);
    }

    60% {
        transform:translate(-3px,1px) rotate(0deg);
    }

    70% {
        transform:translate(3px,1px) rotate(-1deg);
    }

    80% {
        transform:translate(-1px,-1px) rotate(1deg);
    }

    90% {
        transform:translate(1px,2px) rotate(0deg);
    }

    100% {
        transform:translate(1px,1px) rotate(0deg);
    }
